* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playwrite AU VIC", cursive;
  background-image: linear-gradient(to right, #92a1ea 0%, #907ec9 100%);
}

.container {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  background: linear-gradient(to right, #00132c 20%, #004aad 40%, #004aad 60%, #00132c 80%);
  background-size: 200%;
  animation: shine 5s linear infinite;
  color: transparent;
  background-clip: text;
}

button {
  padding: 10px 20px;
  background-color: #004aad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #00132c;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
