:root {
  --bg-gradient: linear-gradient(to right, #eaecfb 0%, #92a1ea 100%);
  --bulma-body-color: black;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, #eaecfb 0%, #92a1ea 100%);
}

.container {
  width: 1100px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  padding: 30px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.play-view-section {
  flex-direction: column;
  text-align: center;
  display: none;
}

.score-section {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  align-items: center;
  flex: 1;
}

.score-player,
.score-computer {
  width: 130px;
  font-size: 20px;
  font-weight: bold;
}

.announce-round {
  align-self: flex-end;
  background-color: #d4edda;
  border-radius: 5px;
  padding: 0 10px;
  color: #155724;
  font-size: 20px;
}

.selected-options-section {
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: center;
}

.img-player-option,
.img-computer-option {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.img-versus {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.player-option,
.computer-option {
  font-size: 20px;
}

.button-options-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.rock-option,
.paper-option,
.scissors-option {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.rock-button,
.paper-button,
.scissors-button {
  width: 90px;
  height: 90px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 20px;
  background-color: #4d9aff;
  color: white;
  border: none;
  font-size: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.rock-button:hover,
.paper-button:hover,
.scissors-button:hover {
  background-color: #00132c;
  transition: background-color 0.3s;
  transform: scale(1.05);
}

.announce-result {
  color: white;
}

.buttons {
  gap: 15px;
}

.modal-card-foot {
  justify-content: center;
  gap: 20px;
}

.btn-play-again,
.btn-exit-game {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
}

.btn-play-again:hover,
.btn-exit-game:hover {
  transform: scale(1.1);
}

.img-play-again {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  background: linear-gradient(to right, #00132c 20%, #004aad 40%, #004aad 60%, #00132c 80%);
  background-size: 200%;
  animation: shine 5s linear infinite;
  color: transparent;
  background-clip: text;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
